<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /web/
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]
  RewriteRule . /web/index.html [L]
</IfModule>